<div class="row">
  <div class="column" style="width: 15%">
    <mat-form-field>
      <mat-label>Seller</mat-label>
      <mat-select (selectionChange)="selected($event.value)" #seller>
        <mat-option value="user1">User 1</mat-option>
        <mat-option value="user2">User 2</mat-option>
        <mat-option value="user3">User 3</mat-option>
        <mat-option value="user4">User 4</mat-option>
        <mat-option value="user5">User 5</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="column" style="width: 28%">
    <mat-form-field>
      <mat-label>Buyer</mat-label>
      <mat-select (selectionChange)="selected($event.value)" #buyer>
        <mat-option value="user1">User 1</mat-option>
        <mat-option value="user2">User 2</mat-option>
        <mat-option value="user3">User 3</mat-option>
        <mat-option value="user4">User 4</mat-option>
        <mat-option value="user5">User 5</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="column" style="width: 25%">
    <mat-form-field>
      <mat-label>Channel</mat-label>
      <mat-select #channel (selectionChange)="newCurrentChannel($event)">
        <mat-option *ngFor="let channel of channels" [value]="channel">{{channel}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="column" style="padding-top: 21px">
    <mat-checkbox color="primary" [(ngModel)]="isNewChannel">Imagen modificada</mat-checkbox>
  </div>
</div>
<div class="row">
  <div class="column" style="width:42%;">
    <mat-form-field>
      <mat-label>License options</mat-label>
      <mat-select (selectionChange)="onItemChange($event)" multiple>
        <mat-option *ngFor="let option of dropdownList" [value]="option">{{option}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="column" style="width: 50%;">
    <button mat-raised-button color="primary" class="btn btn-primary" (click)='sellLicense(seller.value, buyer.value)'
      style="margin: 5px">Sell</button>
    <button mat-raised-button color="primary" (click)='getHistory(channel.value, seller.value)'
      style="margin: 5px">History</button>
  </div>
</div>
<div style="text-align: center">
  <mat-progress-spinner class="example-margin" color="primary"
  mode="indeterminate" value=50 *ngIf="loading">
</mat-progress-spinner>
</div>
<pm-table [childHistory]="history"></pm-table>